<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <h3>채팅을 시작하세요~</h3>
      <h1><%= title %></h1>
      <a href="/" id="exit-btn">방 나가기</a>
      <fieldset>
         <legend>채팅 내용</legend>
         <div id="chat-list"></div>
      </fieldset>
      <form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
         <input type="text" id="chat" name="chat" />
         <button type="submit">전송</button>
      </form>
      <div>
         방 번호 : <%= room.id%> <br />
         참여 인원 : <span id="cnt">0</span> <br />
         유저 목록 :
         <div id="user">홍길동</div>
      </div>

      <script src="/socket.io/socket.io.js"></script>
      <script>
         const socket = io.connect('http://localhost:3000/chat', {
            path: '/socket.io',
            transports: ['websocket'],
         });
         const username = '<%= user%>';
         const data = { roomId: new URL(location).pathname.split('/').at(-1), username };

         socket.emit('join', data);

         socket.on('join', function (data) {
            console.log('클라이언트 데이터', data);
            document.querySelector('#cnt').innerHTML = data.cnt;
            const div = document.createElement('div');
            div.classList.add('system');
            const chat = document.createElement('div');
            div.textContent = data.chat;
            div.appendChild(chat);
            document.querySelector('#chat-list').appendChild(div);

            document.querySelector('#user').innerHTML = data.connectedUsers;
         });

         socket.on('exit', function (data) {
            const div = document.createElement('div');
            div.classList.add('system');
            const chat = document.createElement('div');
            chat.textContent = data.chat;
            div.appendChild(chat);
            document.querySelector('#chat-list').appendChild(div);
            document.querySelector('#user').innerHTML = data.connectedUsers;
         });

         document.querySelector('#chat-form').addEventListener('submit', function (e) {
            e.preventDefault();
            console.log(e.target.chat.value);
            if (e.target.chat.value) {
               socket.emit('chat', e.target.chat.value);
            }
            e.target.chat.value = '';
         });

         socket.on('chat', function (data) {
            const div = document.createElement('div');
            div.classList.add('system');
            const chat = document.createElement('div');
            div.textContent = data.chat;
            div.appendChild(chat);
            document.querySelector('#chat-list').appendChild(div);
         });
      </script>

      <script></script>
   </body>
</html>
