<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <style>
         .tab {
            display: none;
         }
      </style>

      <h3>친구 리스트</h3>

      <script>
         function showTab(tabName) {
            const tabs = document.getElementsByClassName('tab');
            for (let i = 0; i < tabs.length; i++) {
               tabs[i].style.display = 'none';
            }
            document.getElementById(tabName).style.display = 'block';
         }
      </script>
      <button onclick="showTab('inbox')">수신함</button>
      <button onclick="showTab('list')">목록</button>

      <div id="inbox" class="tab">
         <h2>수신함</h2>
         <ol>
            <% for (let i = 0; i < friendsPending.length; i++) { %>
            <li>
               <%= friendsPending[i].username %>
               <form id="accept-btn" action="/api/friend/<%= friendsPending[i].id%>/accept" method="POST">
                  <button type="submit">수락</button>
               </form>
               <form id="deny-btn" action="/api/friend/<%= friendsPending[i].id%>/deny" method="POST">
                  <button type="submit">거부</button>
               </form>
            </li>
            <% } %>
         </ol>
      </div>

      <div id="list" class="tab">
         <h2>목록</h2>
         <ol>
            <% for (let i = 0; i < friends.length; i++) { %>
            <li><%= friends[i].username %></li>
            <% } %>
         </ol>
      </div>

      <script>
         showTab('inbox'); // 초기에는 'inbox' 탭을 보여줍니다. 페이지 이동이 돼;
         document.querySelector('#accept-btn').addEventListener('submit', function (e) {
            e.preventDefault();
            fetch(`${e.target.action}`, { method: 'POST' })
               .then(response => {
                  // 응답 처리
                  console.log(response);
               })
               .catch(error => {
                  // 에러 처리
                  console.error(error);
               });
         });
         document.querySelector('#deny-btn').addEventListener('submit', function (e) {
            e.preventDefault();
            fetch(`${e.target.action}`, { method: 'POST' })
               .then(response => {
                  // 응답 처리
                  // 응답 처리
                  console.log(response);
               })
               .catch(error => {
                  // 에러 처리
                  console.error(error);
               });
         });
      </script>
   </body>
</html>
