<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=, initial-scale=1.0" />
      <title>Document</title>
      <style>
         header nav ul {
            display: flex;
            list-style-type: none;
            padding: 0;
         }

         header nav ul li {
            margin-right: 10px;
         }
      </style>
   </head>
   <body>
      <header>
         <nav>
            <ul>
               <li><a href="/room">Rooms</a></li>
               <li><a href="/users">Users</a></li>
               <li><a href="/friends">Friends</a></li>
               <li><a href="/api/auth/logout">Logout</a></li>
            </ul>
         </nav>
      </header>
   </body>
</html>
