<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <ul>
         <% users.forEach(function(user) { %>
         <li>
            <p><b>ID</b>: <%= user.username %></p>
            <p><b>가입날짜</b>: <%= user.createdAt %></p>
            <p><b>친구수</b>: <%= user.cnt%></p>
            <form method="post" action="/api/friend/<%=user.id%>">
               <p>친구 요청 : <input type="submit" value="친구요청" /></p>
            </form>
         </li>
         <% }); %>
      </ul>
   </body>
</html>
